@page
@model Hackaton.App.Presentacion.Pages.CrudMigrante.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Migrante</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Migrante.Nombres)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Migrante.Nombres)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Migrante.Apellidos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Migrante.Apellidos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Migrante.TipoDocumento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Migrante.TipoDocumento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Migrante.NumeroDocumento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Migrante.NumeroDocumento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Migrante.PaisOrigen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Migrante.PaisOrigen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Migrante.Usuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Migrante.Usuario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Migrante.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Migrante.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Migrante.FechaNacimiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Migrante.FechaNacimiento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Migrante.DireccionElectronica)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Migrante.DireccionElectronica)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Migrante.NumeroTelefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Migrante.NumeroTelefono)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Migrante.DireccionActual)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Migrante.DireccionActual)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Migrante.Ciudad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Migrante.Ciudad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Migrante.SituacionLaboral)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Migrante.SituacionLaboral)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Migrante.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>

<div class="form-group">

         <form method="get" action="/CrudMigrante/CambioPassword">
            <input asp-for="@Model.Migrante.Usuario" name="username" type="hidden" value="@Model.Migrante.Usuario"/>

            <div class="form-group">
                <input type="submit" value="Cambio de Contraseña" class="btn btn-primary" />
            </div>
            
        </form>

</div>
